* {
  margin: 0;
  padding: 0;
  }

  body {
    width: 100vw;
  }

header {
  background-image: url("hero_bg.jpg");
  height: 80vh;
  background-size: cover;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 0%;
  width: 100vw;
}

.hero {
  /*position: relative;*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 0.2;
  line-height: ;
  height: 80vh;
}

.center {
  /* position: absolute;*/
  color: white;
  text-align: center;
  /* top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);*/
}

   
#register {
  padding: 8px;
  color: white;
  background-color: black;
  border-radius: 12px;
  border: none;
  text-align: center;
}

a {
  text-decoration: none;
}

#nav {
  position: fixed;
  padding: 0;
  top: 0;
 background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
}

@media only screen and (max-width: 670px) {
    #nav {
       font-size: 8px;
   padding: 4px;
       }
   }
   

#list {
  list-style-type: none;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  float: left;
  font-size: small;
  spacing: 0.4;
  padding: 0 20px 0 20px;
}
@media only screen and (max-width: 767px) {
    li {
       font-size: 8px;
      padding: 4px;
   }
   }
   
a {
  color: black;
}

#inputsearch {
  background-color: white;
  border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    #inputsearch {
       font-size: 8px;
   padding: 5px;
       }
   }
   
#search {
  color: white;
  background-color: black;
  border-radius: 6px;
  border: none;
  text-align: center;
}

@media only screen and (max-width: 767px) {
    #search {
       font-size: 8px;
   padding: 4px;
       }
   }
   

#select {
  border: none;
  background: transparent;
}

@media only screen and (max-width: 767px) {
    select {
       font-size: 8px;
      padding: 4px;
   }
   }
   
#two {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
width: 100vw;
}

#about {
  float: 
  padding-top: 40px;
 padding-left: 25px;
  }

@media only screen and (max-width: 767px) {
    #about {
       font-size: 7px;
      height: auto;
   }
   }
   
#imgabout {
  float: ;
  padding-top: 40px;
  padding-left: 25px;
  height: auto;
}

.flexo {
 padding-top: 40px;
 padding-left: 25px;
  width: 100%;
} 


#three {
  background-color: rgb(51, 161, 51);
  padding-bottom: 65px;
  padding-top: 40px;
  width: 100vw;
  }

 .center2 {
  color: white;
  text-align: center;
}

@media only screen and (max-width: 767px) {
    .center2 {
       font-size: 12px
     
    }
   }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;

  }

  .flex2 {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;

  }

.column {
  width: 30%;
  }

@media only screen and (max-width: 767px) {
    .column {
       font-size: 8px;
     height: 60%;
    }
   }
   
.column1 {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

@media only screen and (max-width: 767px) {
    .column1 {
       font-size: 5px;
      height: 40%;
    }
   }

#events {
  padding-left: 45px;
  padding-bottom: 20px;
  color: white;
}

#topevents {
  padding-left: 45px;
  padding-bottom: 20px;
  color: white;
}

h1 {
  font-size: medium;
}

figure {
  background-color: white;
  font-size: small;
  padding-bottom: 10px;
}

figcaption {
  padding: 7px 10px 7px 10px;
}

@media only screen and (max-width: 767px) {
    figcaption {
       font-size: 5px;
    }
   }

img {
  height: 60%;
}

#four {
  background-color: white;
  width: 100vw;
  padding-bottom: 65px;
  padding-top: 40px;
  width: 100vw;
}

.column1 p {
  padding-left: 10px;
}

.column1 figcaption {
  padding: 7px 10px 50px 10px;
}

#contact {
  background-color: rgb(51, 161, 51);
  padding: 25px;
/*padding-left: 35px;
padding-bottom: 60px;*/
  width: 100vw;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  }
 
.form-field {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:
}

/* #contactinput {
  display: flex;
  flex-direction: column;
  font-size: small;*/

.form-field input {
  width: 6cm;
  padding: 8px;
  font-size: small;
  color: rgba(0, 0, 0, 0.027)
  opacity: 0.9;

}

#contactheader {
  color: white;
  padding-top: 49px;
  padding-right:12px;
  padding-left: 25px;

}

#sendbutton {
  background-color: red;
  width: 6.5cm;
  padding: 8px;
  color: white;
}


#nav2 {
    width: 100%;
    background-color: rgb(51, 161, 51);
    padding-top: 0;
    margin: 0;
    color: white;
    }

  #list2 {
    list-style-type: none;
    width: 100vw;
  display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  #list2 li {
      padding-right:
      font-size: small;
      spacing: 0.4;
       color: white;
    }
    
    #list2 a {
      color: white;
    }

    .active {
      color: white;
    }
    
    .fa {
      padding: 6px;
      color: white;
    }

    
